$font-stack    :    Helvetica, sans-serif;
$primary-color : #fff;
$main-bg : #f0f0f0;

nav {
  background:$main-bg;
  font-family:$font-stack ;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: $primary-color;
  }
  a:hover{
    background:#f0f0f0;
  }
}